<header>
    <h2>Dark Souls Wiki</h2>
    <div id="links-header">
        <a href="{{ path('home') }}">Home</a>
        <a href="{{ path('jefes') }}">Jefes</a>
        <a href="{{ path('armas') }}">Mejores armas</a>
    </div>
</header>