{% extends 'base.html.twig' %}

{% block corpo %}

<div id="contenido-jefes">
    {% for producto in productos %}
        <div id="jefe-{{ loop.index }}" class="jefe flex-fill">
            <img src="{{ producto.images[0] }}">
            <div class="datos">
                <h3>{{ producto.title }}</h3>
                <p>{{ producto.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}